:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.row-layout {
  display: flex;
}
.dji_article_row_layout_1 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.dji_article_column_layout_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.dji_article_row_layout_2 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_article_column_layout_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.dji_article_column_layout_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_article_row_layout_3 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 16px;
  flex-shrink: 0;
}
.dji_models_carousel {
  min-width: 300px;
  min-height: 240px;
}
.dji_article_column_layout_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.dji_gallery_section_column {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.dji_gallery_header {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_gallery_images_row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_article_column_layout_5 {
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px 0 0;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_article_author_row_layout {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.dji_article_author_details_column {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  max-width: 720px;
  flex-grow: 1;
  flex-basis: 0;
}
.dji_article_author_bio_column {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.dji_mini_4_pro_image_2 {
  object-fit: cover;
  border-radius: 0px;
  min-width: unset;
  min-height: unset;
  flex-grow: 1;
  flex-shrink: 0;
}
.dji_gallery_title {
  text-align: center;
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.dji_gallery_subtitle {
  text-align: center;
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.dji_mini_4_pro_image {
  object-fit: cover;
  border-radius: 0px;
  min-width: 320px;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.dji_article_author_avatar {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: transparent;
}
.dji_mini_4_pro_slide {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: absolute;
}
.dji_article_badge_1 {
  min-width: 16px;
  min-height: 16px;
}
.dji_article_author_follow_button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
